<div class="main-panel">
<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>

                <li>
                    <a href="http://www.creative-tim.com">
                        Creative Tim
                    </a>
                </li>
                <li>
                    
                </li>
                <li>
                    <a href="http://www.creative-tim.com/license">
                        Licenses
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            <a href="https://seal.beyondsecurity.com/vulnerability-scanner-verification/pbgame.expovin.it"><img src="https://seal.beyondsecurity.com/verification-images/pbgame.expovin.it/vulnerability-scanner-2.gif" alt="Website Security Test" border="0"></a>
        </div>
    </div>
</footer>
</div>