<div class="main-panel">
    <div class="content">
        <div class="container-fluid">
                <div class="col-md-8">
                    <div class="card card-plain">
                        <div class="header">
                            <h4 class="title">Market Opportunities</h4>
                            <p class="category">Click on the id for more details</p>
                        </div>
                        <div class="content table-responsive table-full-width">
                            <table class="table table-hover">
                                <thead>
                                  <th>ID</th>
                                  <th>Company Name</th>
                                  <th>Estimated Value</th>
                                  <th>Qualification level</th>
                                  <th>status</th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let oppy of opportunities">
                                      <td>{{oppy.ID}}</td>
                                      <td>{{oppy.CompanyName}}</td>
                                      <td>{{oppy.teoricalValue}}</td>
                                      <td>{{oppy.qualificationLevel}}</td>
                                      <td>{{oppy.status}}</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>