<div class="main-panel">
    <div class="content">
        <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Opportunities</h4>
                                <p class="category">by Values</p>
                            </div>
                            <div class="content">
                                <div id="chartOpportunities" class="ct-chart"></div>
                            </div>
                        </div>
            </div>
            <div class="col-md-4" [hidden]="!isOppySelected">
                    <div class="card card-plain">
                        <div class="header">
                            <h4 class="title">Opportunities details</h4>
                            <p class="category">Included companies</p>
                        </div>
                        <div class="content">
                                <dl class="dl-horizontal">
                                        <dt>ID</dt>
                                        <dd>{{selectedOppy.ID}}</dd>

                                        <dt>Company Name</dt>
                                        <dd>{{selectedOppy.CompanyName}}</dd>
                                        
                                        <dt>Value</dt>
                                        <dd>{{selectedOppy.teoricalValue}} K€</dd>
                                        <hr>
                                        <dt>Trend required</dt>
                                        <dd *ngFor="let trend of selectedOppy.TrendsRequired" >{{trend}}</dd>   
                                        <hr>
                                        <dt>Feature required</dt>
                                        <dd *ngFor="let feat of selectedOppy.features">{{feat.name}} @{{feat.score}}%</dd>                                          
                                </dl>
                        </div>
                    </div>
            </div>
        </div>
        <div class="row">
                <div class="col-md-8 table-Fix">
                        <div class="card card-plain">
                            <div class="header">
                                <h4 class="title">Market Opportunities</h4>
                                <p class="category">Click on the id for more details</p>
                            </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover">
                                    <thead>
                                      <th>ID</th>
                                      <th>Company Name</th>
                                      <th>Estimated Value</th>
                                      <th>Qualification level</th>
                                      <th>status</th>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let oppy of opportunities">
                                          <td (click)="SelectOppy(oppy)">{{oppy.ID}}</td>
                                          <td>{{oppy.CompanyName}}</td>
                                          <td>{{oppy.teoricalValue}}</td>
                                          <td>{{oppy.qualificationLevel}}</td>  
                                          <td>{{oppy.status}}</td>
                                        </tr>
                                    </tbody>
                                </table>
    
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="row">
                                    <h4>Filters Pane  </h4>
                                    <hr>

                                    <div class="panel panel-default">
                                            <div class="panel-heading"><h5>Opportunity Value</h5></div>
                                            <div class="panel-body">
                                                <div class="row">
                                                        <form>
                                                                <div class="col-md-4">
                                                                        <div class="btn-group-vertical" role="group" aria-label="...">
                                                                                <button type="button" class="btn btn-outline-primary" (click)="toggleConstraint(0)">{{lblValue}}</button>
                                                                                <button type="button" class="btn btn-outline-primary" (click)="changeConstraint(0)" [disabled]="!company.oppyConstraint.flgValue">Submit</button>
                                                                        </div>

                                                                </div>
                                                                        <div class="col-md-4">
                                                                                <div class="form-group">
                                                                                        <label>From</label>
                                                                                        <input type="number" class="form-control border-input"  
                                                                                                placeholder="Insert the Merit Increase in %" 
                                                                                                [(ngModel)]="company.oppyConstraint.Value[0]" 
                                                                                                name="valueMin" 
                                                                                                [disabled]="!company.oppyConstraint.flgValue"
                                                                                                required />
                                                                                </div>
                                                                        </div>
                                                                        <div class="col-md-4">
                                                                                <div class="form-group">
                                                                                        <label>To</label>
                                                                                        <input type="number" class="form-control border-input"  
                                                                                            placeholder="Insert the Merit Increase in %" 
                                                                                            [(ngModel)]="company.oppyConstraint.Value[1]" 
                                                                                            name="valueMax" 
                                                                                            [disabled]="!company.oppyConstraint.flgValue"
                                                                                            required />
                                                                                </div>
                                                                        </div>
                                                            </form>
                                                </div>
                                            </div>
                                    </div>

                                    <div class="panel panel-default">
                                            <div class="panel-heading"><h5>Qualification Level</h5></div>
                                            <div class="panel-body">
                                                <div class="row">
                                                        <form>
                                                                <div class="col-md-4">
                                                                        <div class="btn-group-vertical" role="group" aria-label="...">
                                                                                <button type="button" class="btn btn-outline-primary" (click)="toggleConstraint(1)">{{lblQualification}}</button>
                                                                                <button type="button" class="btn btn-outline-primary" (click)="changeConstraint(1)" [disabled]="!company.oppyConstraint.flgQualification">Submit</button>
                                                                        </div>

                                                                </div>
                                                                        <div class="col-md-8">
                                                                                <div class="row">
                                                                                    <label>Qualification Level</label>
                                                                                </div>
                                                                                <div class="row">
                                                                                        <div class="btn-group" role="group" aria-label="..." >
                                                                                                <button type="button" [ngClass]="btnClassArray['1B']" (click)="modifyQualificationArray(1)" [disabled]="!company.oppyConstraint.flgQualification">1</button>
                                                                                                <button type="button" [ngClass]="btnClassArray['2B']" (click)="modifyQualificationArray(2)" [disabled]="!company.oppyConstraint.flgQualification">2</button>
                                                                                                <button type="button" [ngClass]="btnClassArray['3B']" (click)="modifyQualificationArray(3)" [disabled]="!company.oppyConstraint.flgQualification">3</button>
                                                                                                <button type="button" [ngClass]="btnClassArray['4B']" (click)="modifyQualificationArray(4)" [disabled]="!company.oppyConstraint.flgQualification">4</button>
                                                                                                <button type="button" [ngClass]="btnClassArray['5B']" (click)="modifyQualificationArray(5)" [disabled]="!company.oppyConstraint.flgQualification">5</button>
                                                                                        </div>
                                                                                </div>
                                                                        </div>
                                                            </form>
                                                </div>
                                            </div>
                                    </div>
                                </div>


                        </div>
                    </div>
        </div>



            </div>
        </div>
    </div>