<!--The content below is only a placeholder and can be replaced.
    <notifier-container></notifier-container>
-->    
    <div [ngClass]="{'wrapper': true}"> 

        <ngx-smart-modal [closable]="false" [escapable]="false" [dismissable]="false" #modalMsgFromServer identifier="modalMsgFromServer" id="modalMsgFromServer">
            <h3>Message From Server</h3>
            <hr>
            <p> This is a Message from server !!!</p>          
            <button (click)="modalMsgFromServer.close()" *ngIf="isFinish">Close</button>
        </ngx-smart-modal>


                    <app-sidebar></app-sidebar>                                
                    <app-navbar></app-navbar>
            
                    <div [ngClass]="{'wrapperDisabled': isElaborating}">
                        <router-outlet></router-outlet> 
                        <app-footer></app-footer>
                    </div>
                    
                    <app-elaboration [hidden]="!isElaborating"></app-elaboration>
                    
                    

            
    </div>        




