<div class="sidebar" data-background-color="white" data-active-color="danger">

    <!--
		Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
		Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
	-->

    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="http://www.creative-tim.com" class="simple-text">
                    Creative Tim
                </a>
            </div>

            <ul class="nav">

                <li routerLinkActive="active">
                    <a routerLink="dashboard">
                        <i class="ti-panel"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="market">
                        <i class="ti-user"></i>
                        <p>Market</p>
                    </a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="people">
                        <i class="ti-view-list-alt"></i>
                        <p>People</p>
                    </a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="oppy">
                        <i class="ti-text"></i>
                        <p>Opportunities</p>
                    </a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="bam">
                        <i class="ti-pencil-alt2"></i>
                        <p>BAM</p>
                    </a>
                </li>
                <li routerLinkActive="active">
                    <a href="top">
                        <i class="ti-map"></i>
                        <p>TOP</p>
                    </a>
                </li>
                <li routerLinkActive="active">
                    <a href="notifications.html">
                        <i class="ti-bell"></i>
                        <p>Notifications</p>
                    </a>
                </li>
				<li class="active-pro">
                    <a href="upgrade.html">
                        <i class="ti-export"></i>
                        <p>Upgrade to PRO</p>
                    </a>
                </li>
            </ul>
    	</div>
    </div>