<div id="ElaborationModal">
    <div class="container">
            <h1> ELABORATION IN PROGRESS</h1>
            <p> Interval : {{interval}}, progress : {{progress}}</p>

            <div class="row">
                <div class="container">
                    <div class="progress">
                            <div class="progress-bar" role="progressbar" [ngStyle]="{'width.%': progress}" aria-valuenow="progress" aria-valuemin="0" aria-valuemax="100">{{progress}}</div>
                    </div>
                </div>
            </div>

    </div>
</div>
