<div class="main-panel">
    <div class="content">
        <div class="container-fluid">
                <div class="row">
                    <div class="col-md-5">
                        <div class="card">

                            <div class="content">
                                <div class="row">
                                        <div class="col-md-3">
                                                <img class="card-img-left" src="../assets/img/{{selectedPerson.icon}}.png">
                                            </div>
                                            <div class="col-md-6">
                                                <h4>{{selectedPerson.name}}</h4>
                                            </div>
                                            <div class="col-md-3">
                                                    <h3>{{selectedPerson.cost}} K€</h3>
                                            </div>
                                </div>
                                <div class="row">
                                        <div class="progress skillsProgress">
                                                <div class="progress-bar" role="progressbar" [ngStyle]="{'width.%': selectedPerson.skills[0].score}"  aria-valuenow="selectedPerson.skills[0].score" aria-valuemin="0" aria-valuemax="100">Business Acumen</div>
                                        </div>
                                </div>
                                <div class="row">
                                        <div class="progress skillsProgress">
                                                <div class="progress-bar" role="progressbar" [ngStyle]="{'width.%': selectedPerson.skills[1].score}" aria-valuenow="selectedPerson.skills[1].score" aria-valuemin="0" aria-valuemax="100">Willing to Learn</div>
                                        </div>
                                </div>
                                <div class="row">
                                        <div class="progress skillsProgress">
                                                <div class="progress-bar" role="progressbar" [ngStyle]="{'width.%': selectedPerson.skills[2].score}" aria-valuenow="selectedPerson.skills[1].score" aria-valuemin="0" aria-valuemax="100">Team worker</div>
                                        </div>
                                </div>  
                                <div class="row">
                                    <div class="container">
                                        <button type="button" class="btn btn-outline-primary" (click)="toggleChart()">{{lableButton}}</button>
                                    </div>
                                </div>                              
                            </div>

        
        
                                    <div class="footer">
                                                <hr />
                                                <div class="stats">
                                                    <i class="ti-stats-up"></i> Increase
                                                </div>
                                    </div>
                           

                        </div>
                    </div>

                    <div class="col-md-7">
                        <app-charts [labels]="labels" 
                                    [personalScore]="personalScore" 
                                    [marketScore]="marketScore"
                                    [lablesChart]="lablesChart"></app-charts>
                    </div>
                </div>

                <div class="row">
                        <div class="col-md-12">
                                <div class="card card-plain">
                                    <div class="header">
                                        <h4 class="title">Presales People</h4>
                                        <p class="category">Click on the id for more details</p>
                                    </div>
                                    <div class="content table-responsive table-full-width">
                                        <table class="table table-hover">
                                            <thead>
                                              <th>ID</th>
                                              <th>Name</th>
                                              <th>Salary</th>
                                              <th>Employed by</th>
                                              <th># Trends</th>
                                              <th># Features</th>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let presale of presalesPeople">
                                                  <td (click)="SelectPerson(presale.person)">{{presale.person.ID}}</td>
                                                  <td>{{presale.person.name}}</td>
                                                  <td>{{presale.person.cost}} K€ </td>
                                                  <td>{{presale.person.employedBy}}</td>
                                                  <td>{{presale.person.PersonTrends.length}}</td>
                                                  <td>{{presale.person.features.length}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
            
                                    </div>
                                </div>
                            </div>
                </div>



            </div>
        </div>
    </div>