<div class="main-panel">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="card">
                        <div class="content">
                            <div class="row">
                                <div class="col-xs-5">
                                    <div class="icon-big icon-warning text-center">
                                        <i class="ti-cup"></i>
                                    </div>
                                </div>
                                <div class="col-xs-7">
                                    <div class="numbers">
                                        <p>Brend Recognition</p>
                                       {{company.brendRecognition | number : '1.2-2'}} %
                                    </div>
                                </div>
                            </div>
                            <div class="footer">
                                <hr />

                                <div class="stats">
                                    <i class="ti-stats-up"></i> Increase
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="card">
                        <div class="content">
                            <div class="row">
                                <div class="col-xs-5">
                                    <div class="icon-big icon-success text-center">
                                        <i class="ti-wallet"></i>
                                    </div>
                                </div>
                                <div class="col-xs-7">
                                    <div class="numbers">
                                        <p>Budget</p>
                                        K€ {{company.budget | number : '1.2-2' }}
                                    </div>
                                </div>
                            </div>
                            <div class="footer">
                                <hr />
                                <div class="stats">
                                    <i class="ti-view-list"></i> List details
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="card">
                        <div class="content">
                            <div class="row">
                                <div class="col-xs-5">
                                    <div class="icon-big icon-info text-center">
                                        <i class="ti-ruler-pencil"></i>
                                    </div>
                                </div>
                                <div class="col-xs-7">
                                    <div class="numbers">
                                        <p>AVG Team Satisf</p>
                                        {{avgSatisfaction | number : '1.2-2'}} %
                                    </div>
                                </div>
                            </div>
                            <div class="footer">
                                <hr />
                                <div class="stats">
                                    <i class="ti-stats-up"></i> Improve
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                        <div class="card">
                            <div class="content">
                                <div class="row">
                                    <div class="col-xs-5">
                                        <div class="icon-big icon-danger text-center">
                                            <i class="ti-hummer"></i>
                                        </div>
                                    </div>
                                    <div class="col-xs-7">
                                        <div class="numbers">
                                            <p>Working Hours</p>
                                            {{company.totalHours}}
                                        </div>
                                    </div>
                                </div>
                                <div class="footer">
                                    <hr />
                                    <div class="stats">
                                        <i class="ti-timer"></i> In the last hour
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>            
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">My Product Features</h4>
                            <p class="category">Sorted by Relevance</p>
                        </div>
                        <div class="content">
                            <div id="chartProductFeatures" class="ct-chart"></div>
                            <div class="footer">
                                <div class="chart-legend">
                                    <i class="fa fa-circle text-info"></i> Open
                                    <i class="fa fa-circle text-danger"></i> Click
                                    <i class="fa fa-circle text-warning"></i> Click Second Time
                                </div>
                                <hr>
                                <div class="stats">
                                    <i class="ti-stats-up"></i> Improve
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card ">
                        <div class="header">
                            <h4 class="title">Report Settings</h4>
                            <p class="category">Managing sub system BAM e TOP</p>
                        </div>
                        <div class="content">

                            <div class="row" >
                                <div class="BAM_TOP">
                                    <div class="col-md-4">
                                        <div class="row">
                                                <h3 class="sistemLable sistemLableActive" [hidden]="!company.isBAMEnabled">BAM Enabled</h3>
                                                <h3 class="sistemLable sistemLableDeactive" [hidden]="company.isBAMEnabled">BAM Disabled</h3>
                                        </div>

                                        <div class="row">
                                            <button type="button" class="btn btn-outline-primary" (click)="toggleBAM()">{{labelBAM}}</button>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                            <p class="text-warning">
                                                BAM cna give you more insights on the opportunities you face in the previous quarter.
                                                Enabling BAM now you can find out several information which might help you to better
                                                setting your company. <br>
                                                BAM require an initial cost in terms of effort to implement (hours) and in terms of money
                                                and a recoursive cost each quarter (hours + money). You can disable this feature any time avoiding
                                                the recoursive cost.
                                            </p>
                                    </div>
                                </div>
                            </div>

                            <hr>

                            <div class="row" >
                                <div class="BAM_TOP">
                                    <div class="col-md-4">
                                        <div class="row">
                                                <h3 class="sistemLable sistemLableActive" [hidden]="!company.isTOPEnabled">TOP Enabled</h3>
                                                <h3 class="sistemLable sistemLableDeactive" [hidden]="company.isTOPEnabled">TOP Disabled</h3>
                                        </div>

                                        <div class="row">
                                            <button type="button" class="btn btn-outline-primary" (click)="toggleTOP()">{{labelTOP}}</button>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                            <p class="text-warning">
                                                TOP is a system to allow your cmpany in a better planning the big opportunities and find out
                                                the product's strength and weakness. This may help to better address the product improvements.<br>
                                                TOP require an initial cost in terms of effort to implement (hours) and in terms of money
                                                and a recoursive cost each quarter (hours + money). You can disable this feature any time avoiding
                                                the recoursive cost.
                                            </p>
                                    </div>
                                </div>
                            </div>

                            <hr>

                            <div class="row" >
                                    <div class="BAM_TOP">
                                        <div class="col-md-4">
                                            <h3>Brand Recognition</h3>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="row">
                                                    <form>
                                                            <div class="row" >
                                                                <div class="col-md-4">
                                                                    <div class="form-group">
                                                                        <label>Hours</label>
                                                                        <input type="number" class="form-control border-input"  placeholder="Insert the #Hours to invest" [(ngModel)]="hoursToInvest" name="hoursToInvest" required />
                                                                        
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <div class="form-group">
                                                                        <label>Cost</label>
                                                                        <input type="number" [(ngModel)]="moneyToInvest" class="form-control border-input" placeholder="Insert the amount to invest" name="moneyToInvest" required />
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <br>
                                                                    <button type="button" class="btn btn-outline-primary" (click)="getCampain()">Invest</button>
                                                                </div>                                                     
                                                            </div>
                                                    </form>
                                            </div>
                                            <div class="row">
                                                    <table class="table">
                                                            <thead>
                                                              <tr>
                                                                <th scope="col">Money</th>
                                                                <th scope="col">Hours</th>
                                                                <th scope="col">Delete</th>
                                                              </tr>
                                                            </thead>
                                                            <tbody>
                                                                    <tr *ngFor="let investment of company.brandRecognInvestments; let i = index">
                                                                        <td>{{investment.money}}</td>
                                                                        <td>{{investment.hours}}</td>
                                                                        <td>
                                                                                <div class="icon-big icon-danger text-center">
                                                                                        <i class="ti-close" (click)="removeCampain(i)"></i>
                                                                                </div>
                                                                        </td>
                                                                    </tr>
                                                            </tbody>
                                                        </table>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>

                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">Team Members</h4>
                        </div>
                        <div class="content">
                            <ul class="list-unstyled team-members">
                                        <li *ngFor="let person of team">
                                            <div class="row">
                                                <div class="col-xs-3">
                                                    <div class="avatar">
                                                        <img src="assets/img/{{person.icon}}.png" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                                    </div>
                                                </div>
                                                <div class="col-xs-4">
                                                    <h3>{{person.name}}</h3>
                                                    <span class="text-success"><small>Satisfaction : {{person.satisfactionLevel | number : '1.2-2'}} %</small></span>
                                                </div>
                                                <div class="col-xs-5">
                                                    <div class="col-xs-3">
                                                            <div class="icon-big icon-warning text-center">
                                                                    <i class="ti-medall" (click)="toggleCourses(person,1)"></i>
                                                            </div>
                                                    </div>
                                                    <div class="col-xs-3">
                                                            <div class="icon-big icon-success text-center">
                                                                    <i class="ti-gift" (click)="toggleCourses(person,2)"></i>
                                                                </div> 
                                                    </div>
                                                    <div class="col-xs-3">
                                                            <div class="icon-big icon-info text-center">
                                                                    <i class="ti-briefcase" (click)="toggleCourses(person,3);isTrends=true;"></i>
                                                                </div> 
                                                    </div>
                                                    <div class="col-xs-3">
                                                            <div class="icon-big icon-danger text-center">
                                                                    <i class="ti-stats-up" (click)="toggleCourses(person,4);isTrends=false"></i>
                                                                </div> 
                                                    </div>
                                                   
                                                </div>
                                            </div>
                                        </li>
                                        <li *ngFor="let person of peopleToConfirm">
                                            <div class="row">
                                                <div class="col-xs-3">
                                                    <div class="avatar">
                                                        <img src="assets/img/{{person.icon}}.png" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                                    </div>
                                                </div>
                                                <div class="col-xs-4">
                                                    <h3>{{person.name}}</h3>
                                                    <span class="text-success"><small>Satisfaction : {{person.satisfactionLevel | number : '1.2-2'}} %</small></span>
                                                </div>
                                                <div class="col-xs-5">
                                                    <div class="col-xs-5">
                                                        <button type="button" class="btn btn-outline-success" (click)="confirmPerson(person.ID)">Confirm</button>
                                                    </div>
                                                    <div class="col-xs-2">
                                                        
                                                    </div>
                                                    <div class="col-xs-5">
                                                        <button type="button" class="btn btn-outline-danger" (click)="discardPerson(person.ID)">Discard</button>
                                                    </div>
                                                   
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                        </div>
                        <div class="footer">
                                <div class="container">
                                        <hr />
                                        <div class="stats">
                                            <a routerLink="/people"><i class="ti-timer"></i> Hire People</a>
                                        </div>
                                </div>
    
    
                            </div>    
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card" [hidden]="userDetails != 0 || proposals.length === 0">
                        <div class="header">
                            <h4 class="title">Proposal placed</h4>
                        </div>
                        <div class="content">
                            <ul class="list-unstyled team-members">
                                        <li *ngFor="let person of proposals">
                                            <div class="row">
                                                <div class="col-xs-3">
                                                    <div class="avatar">
                                                        <img src="assets/img/{{person.icon}}.png" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                                    </div>
                                                </div>
                                                <div class="col-xs-6">
                                                    {{person.name}}
                                                    <br />
                                                    <span class="text-success" *ngFor="let prop of person.proposals | proposal:companyID"><small>Amount proposed : {{prop.Amount}}</small></span>
                                                </div>
                                                <div class="icon-big icon-danger text-center">
                                                    <i class="ti-close" (click)="removeOffer(person.ID)"></i>
                                                </div> 
                                            </div>
                                        </li>

                            </ul>
                        </div>
                    
                    </div>

                    <div class="card" [hidden]="selectedPerson === null">
                            <div class="header">
                                <h4 class="title" [hidden]="userDetails != 1">Merit increase</h4>
                                <h4 class="title" [hidden]="userDetails != 2">Retention Bonus</h4>
                                <!--<h4 class="title" [hidden]="userDetails != 3">Improve features skills</h4> -->
                                <h4 class="title" [hidden]="userDetails != 4">Improve Market Trends skill</h4>
                                <p (click)="toggleCourses(selectedPerson,0)">Click here to show the proposal placed </p>
                            </div>
                            <div class="content">
                                <ul class="list-unstyled team-members">

                                                <div class="row">
                                                    <div class="col-xs-2">
                                                        <div class="avatar">
                                                            <img src="assets/img/{{selectedPerson.icon}}.png" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-7">
                                                            <dl class="dl-horizontal">
                                                                    <dt>ID</dt>
                                                                    <dd>{{selectedPerson.ID}}</dd>
                            
                                                                    <dt>Name</dt>
                                                                    <dd>{{selectedPerson.name}}</dd>
                                                                    
                                                                    <dt>cost</dt>
                                                                    <dd>{{selectedPerson.cost}} K€</dd>

                                                                    <dt>Satisfactional Level</dt>
                                                                    <dd>{{selectedPerson.satisfactionLevel}}</dd>

                                                                    <!--
                                                                    <hr>
                                                                    <dt>Courses enrolled</dt>
                                                                    <dd *ngFor="let course of selectedPerson.courses">{{course.period}} - {{course.feature}} {{course.marketTrend}} : {{course.hours}} hours spent</dd>     
                                                                    
                                                                    <hr>
                                                                    <dt>Merit increase earned</dt>
                                                                    <dd *ngFor="let merit of selectedPerson.meritIncreases">{{merit}}</dd>  

                                                                    <hr>
                                                                    <dt>Retention bonus Gained</dt>
                                                                    <dd *ngFor="let retention of selectedPerson.retentionBonuses">{{retention.period}} - {{retention.money}} K€</dd>  
                                                                    -->
                                                                    
                                                            </dl>
                                                    </div>
                                                    <div class="col-xs-3">
                                                            <button type="button" class="btn btn-outline-primary" (click)="toggleChart()">Features</button>
                                                    </div>
                                                    
    
                                                </div>
                                                
                                                <div class="row">
                                                        <app-charts [labels]="labels" 
                                                        [personalScore]="personalScore" 
                                                        [marketScore]="marketScore"
                                                        [lablesChart]="lablesChart"></app-charts>
                                                </div>

                                                <div class="row">
                                                    <!--<div class="container">-->

                                                        <form [hidden]="userDetails != 1">
                                                                    <div class="row" >
                                                                        <div class="col-md-4">
                                                                            <div class="form-group">
                                                                                <label>Merit Increase</label>
                                                                                <input type="number" class="form-control border-input"  placeholder="Insert the Merit Increase in %" [(ngModel)]="meritIncrease" name="meritIncrease" required />
                                                                            </div>
                                                                        </div>
    
                                                                        <div class="col-md-4">
                                                                            <br>
                                                                            <button type="button" class="btn btn-outline-primary" (click)="giveMeritIncrease()">Submit</button>
                                                                        </div>                                                     
                                                                    </div>
                                                        </form>

                                                        <form [hidden]="userDetails != 2">
                                                                <div class="row" >
                                                                    <div class="col-md-4">
                                                                        <div class="form-group">
                                                                            <label>Retention Bonus</label>
                                                                            <input type="number" class="form-control border-input"  placeholder="Insert the retention bonus in K€" [(ngModel)]="retentionBonus" name="meritIncrease" required />
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-md-4">
                                                                        <br>
                                                                        <button type="button" class="btn btn-outline-primary" (click)="giveRetentiononus()">Submit</button>
                                                                    </div>                                                     
                                                                </div>
                                                        </form>

                                                        <!--
                                                        <form [hidden]="userDetails != 3">
                                                                <div class="row" >
                                                                    <div class="col-md-4">
                                                                        <div class="form-group">
                                                                            <label>Select the Feature to improve</label>
                                                                            <input type="text" class="form-control border-input"  placeholder="Insert the feature to improve" 
                                                                                    [(ngModel)]="featureToImprove" name="featureToImprove" (ngModelChange)="featureSuggestion($event)" required />
                                                                            <ul [hidden]="!isFeatureSuggestion">
                                                                                <li *ngFor="let feature of company.productFeatures | myfilter:featureToImprove" (click)="featureToImprove=feature.name;isFeatureSuggestion=false"> {{feature.name}}</li>
                                                                            </ul>
                                                                        </div>
                                                                        <div class="form-group">
                                                                                <label>Course Level</label><br>
                                                                                <div class="btn-group" role="group" aria-label="...">
                                                                                        
                                                                                        <button type="button" class="btn btn-default" (click)="courseIndexCost=0">Base</button>
                                                                                        <button type="button" class="btn btn-default" (click)="courseIndexCost=1">Advance</button>
                                                                                        <button type="button" class="btn btn-default" (click)="courseIndexCost=2">Intensive</button>
                                                                                      </div>
                                                                            </div>

                                                                    </div>
                                                                    <div class="col-md-2"></div>
                                                                    <div class="col-md-6" [hidden]="courseIndexCost < 0">
                                                                            <h4>Course Details ({{featureToImprove}}) </h4>
                                                                            <hr>
                                                                            <dl class="dl-horizontal">
                                                                                    <dt>Course Cost</dt>
                                                                                    <dd>{{courseMoneyCost[courseIndexCost]}} K€</dd>

                                                                                    <dt>Required hours</dt>
                                                                                    <dd>{{courseHoursCost[courseIndexCost]}} hours</dd>   
                                                                                    
                                                                                    <dt>Knowledge Increase</dt>
                                                                                    <dd>up to {{courseIncreaseUpTo[courseIndexCost]}} %</dd>
                                                                            </dl>
                                                                    </div> 
                                                  
                                                                </div>
                                                                <div class="row">
                                                                        <div class="col-md-4">
                                                                                <br>
                                                                                <button type="button" class="btn btn-outline-primary" (click)="enrollCourse(0)">Get Course</button>
                                                                            </div>   
                                                                </div>
                                                        </form>         
                                                        -->

                                                        <form [hidden]="userDetails != 4">
                                                                <div class="row" >
                                                                    <div class="col-md-4">
                                                                        <div class="form-group">
                                                                            <label>Select the Trend to improve</label>
                                                                            <input type="text" class="form-control border-input"  placeholder="Insert the trend to improve" 
                                                                                    [(ngModel)]="trendToImprove" name="trendToImprove" (ngModelChange)="trendSuggestion($event)" required />
                                                                            <ul [hidden]="!isTrendSuggestion">
                                                                                <li *ngFor="let trend of marketTrendsList | myfilter:trendToImprove" (click)="trendToImprove=trend.name;isTrendSuggestion=false"> {{trend.name}}</li>
                                                                            </ul>
                                                                        </div>
                                                                        <div class="form-group">
                                                                                <label>Course Level</label><br>
                                                                                <div class="btn-group" role="group" aria-label="...">
                                                                                        
                                                                                        <button type="button" class="btn btn-default" (click)="courseIndexCost=0">Base</button>
                                                                                        <button type="button" class="btn btn-default" (click)="courseIndexCost=1">Advance</button>
                                                                                        <button type="button" class="btn btn-default" (click)="courseIndexCost=2">Intensive</button>
                                                                                      </div>
                                                                            </div>

                                                                    </div>
                                                                    <div class="col-md-2"></div>
                                                                    <div class="col-md-6" [hidden]="courseIndexCost < 0">
                                                                            <h4>Course Details ({{trendToImprove}}) </h4>
                                                                            <hr>
                                                                            <dl class="dl-horizontal">
                                                                                    <dt>Course Cost</dt>
                                                                                    <dd>{{courseMoneyCost[courseIndexCost]}} K€</dd>

                                                                                    <dt>Required hours</dt>
                                                                                    <dd>{{courseHoursCost[courseIndexCost]}} hours</dd>   
                                                                                    
                                                                                    <dt>Knowledge Increase</dt>
                                                                                    <dd>up to {{courseIncreaseUpTo[courseIndexCost]}} %</dd>
                                                                            </dl>
                                                                    </div> 
                                                  
                                                                </div>
                                                                <div class="row">
                                                                        <div class="col-md-4">
                                                                                <br>
                                                                                <button type="button" class="btn btn-outline-primary" (click)="enrollCourse(1)">Get Course</button>
                                                                            </div>   
                                                                </div>
                                                        </form> 
                                                    <!--</div>-->
                                                </div>
    
                                        </ul>
                            </div>
                        
                        </div>                                           
                </div>
            </div>
        </div>
    </div>
</div>